.result{
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-weight: bold;
}

.result .result-table{
    flex: 6 0 70%;
}

.result .result-table td:nth-child(1){
    color: white;
}

.result .result-table small{
    color:hsl(184, 14%, 56%);
}

.result .result-table td{
    padding: 10px;
}

.result .result-table td:nth-child(2){
    color: hsl(172, 67%, 45%);
    font-size: 28px;
    text-align: right;
}

.result .result-table table{
    width: 100%;
}

.result .result-button{
    flex: 4 0 30%;
    padding: 10px;
}

.result .result-button .reset button{
    background-color: hsl(172, 67%, 45%);
}